$main-color: #d59c41;
$secondary-color: #164dcc;
$pure-pink: #f9b2d3;
$button-green: #41bcac;
$pure-white: #ffffff;
$animation-button: #3fb9a9;
$navigation-color: #df8ab1;
// rgba(125, 138, 158, 0.75);
$dark: #2e2e2e;
$pink-color: rgba(138, 73, 212, 0.75);
$pink-color-hover: rgba(123, 54, 202, 0.75);

$light-blue-gradient: linear-gradient(45deg, rgba(8, 206, 255, 0.75), rgba(8, 24, 255, 0.75));
$background-gradient: linear-gradient(45deg, rgba(65, 168, 172, 0.75), rgba(62, 148, 59, 0.75));
$purple-gradient: linear-gradient(45deg, rgba(190, 10, 214, 0.75), rgba(68, 0, 255, 0.75));
$nav-powderPink-gradient: linear-gradient(45deg, rgb(238, 196, 201), rgb(238, 196, 201));
$light-purple-gradient-solid: radial-gradient(circle at top right, rgb(182, 113, 194) 0%, rgb(121, 38, 121) 100%);