$main-color: #d59c41;
$session-childer-color: #dcb38d;
$session-family-color: #4b7baa;
$seesion-woman-color: #6b4121;
$session-photojournalism-color: rgb(255, 239, 239);
$pure-pink: #f9b2d3;
$button-green: #41bcac;
$pure-white: #ffffff;
$navigation-color: #df8ab1;
$background-colorr: #e0dbde;
$dark: #2e2e2e;

$nav-powderPink-gradient: linear-gradient(45deg, rgba(238, 196, 201, 0.95), rgba(238, 196, 201, 0.95));