@import './colors';
@import './components';
@import './mixins';
@import './animation';

*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;

}

body{
    font-family: 'KoHo', sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
}

.section-heading{
    position: relative;
    padding: 2em;
    font-size: 3rem;
    text-transform: uppercase;
    color: $main-color;
    text-align: center;
    letter-spacing: 2px;
}

//NAV 

.burger-btn{
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 1em;
    background: none;
    border: 1px solid transparent;
    cursor: pointer;
    z-index: 1000;

   &:focus{
       outline: none;
       border: 1px solid rgba(255,255,255,.5);
       border-radius: 8px;
   }

   &:hover{
       .burger-btn__bars::before,.burger-btn__bars::after{
           width: 100%;
       }
   }

   &__box{
       position: relative;
       width: 40px;
       height: 30px;
   }

   &__bars, &__bars::before, &__bars::after{
       @include burgerBtn;
   }

   &__bars{
       width: 100%;

       &::after{
           top: 13px;
           width: 60%;
       }

       &::before{
           top: 27px;
           width: 30%;
           transition-delay: .1s;
       }
   }
}

.white-bars-color,
.white-bars-color::after,
.white-bars-color::before{
    background-color: $pure-white;
    animation-delay: .3s;
}

.nav{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 50%;
    background-image: $nav-powderPink-gradient;
    z-index: 100;
    transition: .5s;
    
    &--active{
        left: 0;
    }

    &__item{
        position: relative;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        font-size: 2.8rem;
        color: $pure-white;
        text-align: center;
        padding: .5em 2em;

        &::before{
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 3px;
            height: 100%;
            background-color: $pure-white;
            transform: scaleY(0);
            transition: transform .4s;
        }

        &:hover::before{
            transform: scaleY(1);
        }
    }

    .nav-items-animation{
        animation: navItemsAnimation 1s both;
    }
}

.black-bars-color,
.black-bars-color::after,
.black-bars-color::before{
    background-color: $dark;
}


//HEADER

.header{
    position: relative;
    
    &__img{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        // color: $pure-green;
        @include heroImages("../img/LOGO.png");
        background-attachment: scroll;
        background-size:contain;
        background-repeat: no-repeat;  

    }
    .fa-chevron-down{
        position: absolute;
        display: flex;
        justify-content: center;
        left: 50%;
        right: 50%;
        transform: translateX(-50%,-50%);
        margin-top: 4em;
        font-size: 20px;
        color: $button-green;
    }
}



//MAIN
//ABOUT ME

.aboutme{

    padding-bottom: 5em;
    &__box{
        display: flex;
        flex-direction: column;
        margin: 1em;
        // border: 4px solid #d59c41;
        // opacity: 0;
        height: 550px;
        // overflow: hidden;  
        // animation: borderShow 3s forwards 1.5s;
    }

    &__img{
        background-image: url(/img/girBigRedHead.jpg);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 250px;
        min-height: 50%;
        animation: slidePicture 25s linear infinite 0s;
        animation-timing-function: ease-in-out;
    }
    
    &__title{
        text-align: center;
        font-size: 2rem;
        margin-bottom: 1em;
        margin-top: .5em;
        margin: .5em 1em .5em 1em;

    }

    &__text{
        font-size: 1.2rem;
        text-align: center;
        margin: -.4em 1em  1em;
    } 
}

//HERO-IMG

.hero-img{
    position: relative;
    padding: 10em 2em;
    @include heroImages("../img/photographerBigMain.jpg");
    text-align: center;
    // color: $pure-green;
    overflow: hidden;
    margin-top: 100px;


    &__title{
        font-family: 'KoHo', sans-serif;
        font-size: 4.8rem;
    }

    &__text{
        padding: 1em 0;
    }

}


//Cameras

.cameras{
    &__card{
        position: relative;
        margin: 2em;
        height: 450px;
        color: $pure-pink;
        text-align: center;
        perspective: 1000px;

        &:hover{
            .cameras__card-img{
                transform: rotateY(-180deg);
                opacity: 0;
            }
            .cameras__card-info{
                transform: rotateY(0);
                opacity: 1;
            }
        }

        &-img{
            padding: 2em;
            height: 100%;
            border-radius: 8px;
            background-size: cover;
            
            transition: transform 1s, opacity 1s;

            &--first{
                background-image: $background-gradient, url(../img/cameraSmall.jpg);
            }

            &--second{
                background-image: $background-gradient, url(../img/cameraSmall2.jpg);
            }

            &--third{
                background-image: $background-gradient, url(../img/cameraSmall3.jpg);
            }

            &-title{
                font-size: 2.8rem;
            }
            &-info{
                position: absolute;
                bottom: 30px;
                right: 30px;
                font-size: 1.8rem;

                i{
                    margin-right: 0.3em;
                }
            }
        }

        &-info{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-image: $light-purple-gradient-solid;
            border-radius: 8px;
            opacity: 0;
            transform: rotateY(180deg);
            transition: transform 1s,opacity 1s;

            &-title{
                @include camerasCardStyles;
                top: 1.2em;
                font-size: 2.8rem;
            }

            &-list{
                margin: 0 auto;
                width: 70%;
                list-style: none;

                &-item{
                    padding: 1em;
                    font-size: 1.4rem;
                    border-bottom: 1px solid $pure-pink;
                    &:last-child{
                        border-bottom: none;
                    }
                }
            }

            &-btn{
                @include camerasCardStyles;
                bottom: 2em;
                padding: 1em;
                border-radius: 8px;
                width: 80%;
                border: none;
                background-color: $pink-color;
                cursor: pointer;

                &::before{
                    background-color: $pink-color-hover;
                }
            }
        }
    }
}

//oferty

.offers{
    position: relative;
    @include heroImages("..img/photo-studio-gcc6c072e0_640.jpg");
    color: $pure-pink;
    padding: 1.5em;
    margin-top: 100px;
    
    .section-heading{
        color: $pure-pink;
    }
    
    &__option{
        text-align: center;
        box-shadow: 5px 5px 10px rgba(46, 46, 46, 0.18);
        
        &-img{
            height: 400px;
            background-size: cover;
            background-position: center;
            transition: transform .4s;
            
            &:hover{
                transform: scale(1.05);
            }

            &--first{
                background-image: url(../img/sistersSession.jpg);
            }

            &--second{
                background-image: url(../img/familySessionn.jpg);
                background-position: top;
            }
            
            &--third{
                background-image: url(../img/pregnantSession.jpg);
            }
        }   

        &-info{
            color: $pure-pink;
            margin-top: 50px;
            z-index: 10;
        }

        &-heading{
            font-size: 2.5rem;
            margin: 0 0 25px 0;
        }

        &-text{
            font-size: 1.1em;
        }

        &-btn{
            padding: .5em;
            margin-top: 25px;
            margin-bottom: 55px;
            border-radius: 8px;
            width: 60%;
            border: none;;
            background-color: $pink-color;
            cursor: pointer;
        
            &::before{
                background-color: $pink-color-hover;
            }
        }

        
    }
}

//REVIEWS

.reviews{
    &__box{
        position: relative;
        margin: 2em;
        padding: 2em;
        border-radius: 8px;
        box-shadow: 3px 3px 3px #2e2e2e2e;
        transition: transform .3s;
      
        
        &-img{
            position: absolute;
            top: 8%;
            left: 75%;
            transform: translate(-50%,-50%);

            img{
                width: 80px;
                height: 80px;
                border-radius: 50%;
            }
        }

        &-quote{
            margin-bottom: 1em;
            font-size: 3rem;
            color: $main-color;
        }

        &-text{
            margin-bottom: 1em;
            font-size: 1.4rem;
            color: $dark;
        }

          
        &:hover{
            transform: scale(.95);
        }
    }

}

//Contact

.contact{
    position: relative;
    background-color: $pink-color;

    .white-block-right{
        background-color: $dark;
    }
    &__form{
        padding: 5em;
        display: flex;
        flex-direction: column;
        
        &-top{
            display: flex;
            flex-direction: column;
        }
        &-label{
            margin-bottom: 0.5em;
            text-transform: uppercase;
        }

        &-input{
            @include contactForm;
        }

        &-textarea{
            @include contactForm;

            max-width: 100%;
            width: 100%;
            min-height: 150px;
        }

        &-btn{
            align-self: flex-end;
            padding:1em;
            width: 100%;
            max-width: 300px;
            color: $pure-pink;
            border:none;
            border-radius: 8px;
            background-color: $main-color;
            cursor: pointer;

            &::before{
                background-color: $pink-color-hover;
            }
        }
    }
}



//FOOTER

.footer{
    color: $pure-pink;
    background-color: $dark;


    .wrapper{
        padding: 6em 2em 2em;
    }

    &__box{
        font-size: 1.4rem;

        &-title{
            margin-bottom: 1em;
            font-size: 3rem;
            text-transform: uppercase;
        }

        &-social{
            margin: 2em 0 1em;
        }
        &-link{
            color: azure;
            font-size: 3.6rem;
            padding: 0 .3rem;
            text-decoration: none;
            transition: color .3s;

            &:first-child{
                padding-left: 0;
            }

            &:hover{
                color: $main-color;
            }
        }


        &-desktop{
            display: none;
        }
    }

    &__bottom-text{
        padding: 2em;
        text-align: center;
    }

    
}

//MEDIA
@media(min-width:320px){
    
    .aboutme{
        &__box{
            height: 400px;        
        }
        
        &__img{
            height: 200px;
        }
                
        &__title{
            font-size: 1.5rem;
            margin-top: -1em;
        
        }
        
        &__text{
            font-size: 1rem;
            margin-top: 0em;
        } 
    }
}

@media(min-width:360px){
    
    .nav{
        width: 30%;
        &__items{
            margin-top: 60px;
        }
        &__item{
            font-size: 2rem;
        }
    }

    .aboutme{
        &__box{
            height: 300px;        
        }
        
        &__img{
            height: 150px;
        }
                
        &__title{
            margin-top: -1em;
        
        }
        
        &__text{
            margin-top: 0em;
        } 
    }
}

@media (min-width: 411px){

    .header{
        .fa-chevron-down{
            margin-top: 5.5em;
        }
    }
    
}

@media (min-width: 540px){

    .header{
        .fa-chevron-down{
            margin-top: 5.5em;
        }
    }
    
    .aboutme{
        &__box{
            margin: 2em;
            flex-direction: row;
            height: 250px;        
        }
        
        &__img{
            width: 220px;
            height: 100%;
        }
                
        &__title{
            margin-top: 1.5em;
        
        }
        
        &__text{
            font-size: 1.1rem;
            margin-top: 3.5em;
        } 
    }
    
}


@media (min-width: 568px){

    .header{
        .fa-chevron-down{
            margin-top: 3.5em;
        }
    }
    .aboutme{
        &__img{
            width: 260px;
        }
                
        &__title{
            margin-top: .5em;
        
        }
    }
    
}

@media (min-width: 640px){

    .header{
        .fa-chevron-down{
            margin-top: 4em;
        }
    }
    .aboutme{
        &__img{
            width: 300px;
            height: 100%;
        }
                
        &__title{
            font-size: 1.5rem;
            margin-top: 1.5em;
        
        }
        
        &__text{
            font-size: 1.1rem;
            margin-top: 3.5em;
        } 
    }
    
}

@media (min-width: 667px){

    .header{
        .fa-chevron-down{
            margin-top: 5em;
            font-size: 1.5rem;
        }
    }


    .aboutme{
        &__img{
            width: 310px;
        }
                
        &__title{
            font-size: 1.8rem        
        }
        
        &__text{
            margin-top: 4em;
        } 
    }
    
}

@media (min-width: 720px){

    .header{
        .fa-chevron-down{
            margin-top: 5.5em;
            font-size: 2rem;
        }
    }
}
@media (min-width: 731px){

    .header{
        .fa-chevron-down{
            font-size: 2rem;
        }
    }

    .aboutme{
        &__img{
            width: 350px;
        }
                
        &__title{
            font-size: 1.7rem;
        
        }
        
        &__text{
            margin-top: 4.5em;
        } 
    }
    
}

@media(min-width:751px){
    .header{
        .fa-chevron-down{
            margin-top: 5em;
            font-size: 3rem;
        }
    }
}

@media (min-width: 768px){

    .header{
        .fa-chevron-down{
            margin-top: 5em;
            font-size: 3.5rem;
        }
    }
    
    .white-block{
        height: 50px;
    }

    .aboutme{
        &__box{
            margin: 5em;
            flex-direction: row;
            height: 350px;        
        }
        
        &__img{
            width: 320px;
            height: 100%;
        }
                
        &__title{
            font-size: 2rem;
            margin-top: 1.5em;
        
        }
        
        &__text{
            font-size: 1.2rem;
            margin-top: 7.5em;
        } 
    }
    
    .cameras{
        &__cards{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        &__card{
            margin: 1em;
            width: 45%;
        }
    }

    .offers{
        @include heroImages("../img/photo-studio-gba5e13ec7_1920.jpg");

        .section-heading{
            margin-top: 50px;
        }

        &__option{
            display: flex;
            width: 100%;
                margin: 3em 0;
            
            &-img{                
                width: 75%;
                height: auto;
                &--right{
                    order: 1;
                }
            }

            &-info{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding: 3em;
            }

            &-heading{
                font-size: 5.6rem;
            }


        }

       
    }

    .footer{

        &__boxes{
            display: flex;
            justify-content: space-between;
        }

        &__box{   
            margin: 0 2em;
            width: 25%;  
            
            &:first-child{
                width: 50%;
            }

            &-title{
                font-size: 2.4rem;
            }
            
            &-list{
                list-style: none;
                
                &-item{
                    margin-bottom: 1em;

                    a{
                        color: $pure-pink;
                        text-decoration: none;
                    }
                }
            }
            
            &-desktop{         
                display: block;     
            }    
        }
      }
}

@media (min-width: 812px){
    .header{
        .fa-chevron-down{
            margin-top: 4.5em;
            font-size: 2rem;
        }
    }
    .aboutme{
        &__text{
            margin-top: 10em;
        } 
    }
    
}



@media(min-width:880px){
    
    .header{
        .fa-chevron-down{
            margin-top: 6em;
        }
    }
}

@media(min-width:921px){
    
    .header{
        .fa-chevron-down{
            margin-top: 8em;
        }
    }

    .nav{
        width: 25%;

        &__item{
            font-size: 4rem;
        }
    }
}


@media(min-width:992px){

    .cameras{
        &__card{
            width: 30%;
        }
    }
}

@media (min-width: 1024px){
    
    .section-heading{
        font-size: 5rem;
    }
    .header{
        .fa-chevron-down{
            margin-top: 5em;
            font-size: 4rem;
        }
    }

    .aboutme{
        &__img{
            width: 420px;
        }
                
        &__title{
            font-size: 3rem;
            margin-top: 1.5em;
        
        }
        
        &__text{
            font-size: 1.3rem;
            margin-top: 7.5em;
        } 
    }
    
}


@media (min-width: 1280px){
    .aboutme{ 
        &__img{
            width: 500px;
        }
    }
    
}

@media (min-width: 1366px){
    .header{
        .fa-chevron-down{
            margin-top: 5.5em;
            font-size: 3.5rem;
        }
    }
    .aboutme{
        &__img{
            width: 470px;
        }

        
        &__text{
            font-size: 1.5rem;
            margin-top: 4.5em;
        }
    }
    
}

@media only screen and (min-width: 2065px){
    
    .section-heading{
        font-size: 6rem;
    }
    .header{
        .fa-chevron-down{
            margin-top: 6em;
            font-size: 4rem;
        }
    }
    .burger-btn{
       &__bars{
           height: 4px;
        }
    }

    .aboutme{

        &__box{
            margin: 1em;
            height: 500px;
        }
        &__img{
            width: 520px;
        }

        &__text{
            font-size: 2rem;
            margin-top: 10em;
        }
    }
}

@media only screen and (min-width: 2202px){
   
    .burger-btn{
        &__bars{
            &::after{
                height: 4px;
            }
        }
    }
    
}

@media only screen and (min-width: 2478px){
    .header{
        .fa-chevron-down{
            margin-top: 7em;
        }
    }

    .nav{       
        &__item{
            font-size: 5rem;
        }
    }

    .burger-btn{
        &__bars{
            &::after{
                height: 5px;
            }
 
            &::before{
                height: 5px;
            }
        }
    }

    .aboutme{
        &__box{
            margin: 0em;
        }
        &__img{
            width: 620px;
        }

        &__text{
            margin-top: 8em;
            font-size: 2rem;
        }
    }
}

@media only screen and (min-width: 3304px){
    .header{
        .fa-chevron-down{
            // margin-top: 6em;
            // font-size: 6rem;
        }
    }

    .nav{       
        &__item{
            font-size: 6rem;
        }
    }
    
}
///////////////////////////////////////////////////



//Animations

@keyframes navItemsAnimation{
    from{
        transform: translateX(-200%);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes slidePicture {
    0%{
        background-image: url('/img/girBigRedHead.jpg');
    }
    
    25%{
        background-image: url('/img/womanBlondeBig.jpg');
    }

    50%{
        background-image: url('/img/photographerBigMain.jpg');
    }

    75%{
        background-image: url('/img/pregnantSession.jpg');
    }
    100%{
        background-image: url('/img/girBigRedHead.jpg');
    }
}

@keyframes borderShow {
    from{
        opacity: 0;
        border: 0px solid #d59c41;
    }

    to{
        opacity: 1;  
        border: 4px solid #d59c41;  
    }
}