.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.wrapper-offers {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.wrapper-about {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}

.white-block {
  position: absolute;
  height: 40px;
  width: 40%;

  &-left {
    top: 0;
    left: -50px;
    transform: skew(-45deg);
  }

  &-right {
    bottom: 0;
    right: -50px;
    transform: skew(-45deg);
  }
}

.nav-scrolled {
  color: #333;
  background-color: black;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  transition: 1s;
}
