@mixin burgerBtn {
  position: absolute;
  content: "";
  height: 3px;
  left: 0;
  background-color: $pure-white;
  transition: width 0.3s;
}

@mixin heroImages($bgImg) {
  background-image: url($bgImg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@mixin header {
  display: grid;
  min-height: 100vh;
  position: relative;
  overflow: hidden;

  &__img {
    // @include heroImages("../img/headerHallery.jpg");
    grid-row: 1/3;
    grid-column: 1/3;
    // animation: slidePictureHeader 30s infinite forwards;
    z-index: -100;

    &-logo {
      // @include heroImages("../img/LOGO.png");
      // background-size: contain;
      // background-repeat: no-repeat;
      // background-attachment: unset;
      // background-color: rgba($color: #000000, $alpha: 0.75);
      // width: 100%;
      // height: 100%;
    }
  }
}
