@import "./colors";
@import "./mixins";

.footer {
  color: $pure-pink;
  background-color: $dark;

  .wrapper {
    padding: 4em 0em 0em;
  }

  &__box {
    font-size: 1.4rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 400px 1fr;

    &-title {
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      font-size: 4rem;
      text-transform: uppercase;
      color: $button-green;
      font-family: "Raleway", sans-serif;
    }

    &-text {
      display: flex;
      text-align: center;
      align-items: center;
      font-size: 2rem;
      font-family: "M PLUS 1", sans-serif;
      padding: 1em;
    }

    &-social {
      display: flex;
      justify-content: center;
    }

    &-link {
      color: azure;
      font-size: 4.6rem;
      padding: 0 2rem;
      text-decoration: none;
      transition: color 0.3s;

      &:hover {
        color: $main-color;
      }
    }

    &-desktop {
      display: none;
    }
  }

  &__bottom-text {
    text-align: center;
  }

  &__bottom-made {
    margin-bottom: 0;
    text-align: center;
  }
}

@import "./small";
@import "./medium";
@import "./large";
