@import "./colors";
@import "./components";
@import "./mixins";
@import "./animation";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  // overflow-x: hidden;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  // overflow-x: inherit;
  color: $pure-white;
}

.welcomeSection {
  padding-bottom: 5em;
  &__card {
    @include header;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);

    &-img {
      position: relative;
      justify-content: center;

      &--one {
        @include heroImages("../../dist/img/kasia1.jpg");
        grid-row: 1/3;
        grid-column: 1/2;
        background-attachment: unset;
      }

      &--two {
        @include heroImages("../../dist/img/ola3.jpg");
        grid-row: 1/3;
        grid-column: 2/3;
        background-attachment: unset;
      }

      &--three {
        @include heroImages("../../dist/img/sysia1.jpg");
        grid-row: 1/3;
        grid-column: 3/4;
        background-attachment: unset;
      }

      &--four {
        @include heroImages("../../dist/img/ktoś1.jpg");
        grid-row: 1/3;
        grid-column: 4/5;
        background-attachment: unset;
      }
    }
    &-heroBg {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      background-color: rgba($color: #000000, $alpha: 0.5);
      width: 100%;
      height: 100%;

      &--text {
        text-align: center;
        font-size: 8rem;
        text-transform: uppercase;
      }
    }
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  gap: 15px;
  margin: 0.5em;
}

.card-item,
.card {
  display: flex;
  flex-direction: column;
}
.gallery img {
  max-width: 100%;
  object-fit: cover;
}

.card,
.card img {
  flex: 1;
}

@media (min-width: 768px) {
  .header {
    &__img {
      &-info {
        &-text {
          font-size: 5rem;
        }

        &-subtext {
          font-size: 2.5rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 2478px) {
  .header {
    &__img {
      &-info {
        &-text {
          font-size: 7rem;
        }

        &-subtext {
          font-size: 4.5rem;
        }
      }
    }
  }
}
